.bs-docs-sidenav1 {
	width: 258px;
	padding: 0;
	background-color: #fff;
}

.bs-docs-sidenav1>li>a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px !important;
	border: 1px solid #e5e5e5;
}

.bs-docs-sidenav1>.active {
	border-left: 3px solid #DD4B39;
}

.bs-docs-sidenav1>.active>a {
	position: relative;
	z-index: 2;
	padding: 8px 14px 8px 12px !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	border-left: 0 !important;
}
/* Chevrons */
.bs-docs-sidenav1 .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.bs-docs-sidenav1>li>a:hover {
	background-color: #f5f5f5;
}

.bs-docs-sidenav1 a:hover .icon-chevron-right {
	opacity: .5;
}

.bs-docs-sidenav1 .active .icon-chevron-right,.bs-docs-sidenav1 .active a:hover .icon-chevron-right
	{
	background-image: url(../img/glyphicons-halflings.png) !important;
}

.bs-docs-sidenav1.affix {
	top: 40px;
}

.bs-docs-sidenav1.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}
